<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Shrutika Girame</h3>
      </div>
      <div class="text-center">
      <a href="https://www.linkedin.com/in/shrutika-girame-08ba941b1/">Linkedin Profile</a>
    </div>
    <div class="text-center">
      <a href="https://angular.io/docs">Introduction to Angular</a>
      </div>
    </div>
  </div>
</div>
